MELI_CLIENT_ID=
MELI_CLIENT_SECRET=
MELI_REDIRECT_URI=http://localhost:3000/api/mercadolivre/callback
MELI_SITE_ID=MLB
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tech_mercado_store?schema=public
NEXTAUTH_SECRET=troque-este-segredo
NEXTAUTH_URL=http://localhost:3000
DEMO_ADMIN_EMAIL=admin@techmercadostore.local
DEMO_ADMIN_PASSWORD=Admin123!
